body {
     margin: 0;
     padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.login-container {
    width: 100%;
    max-width: 580px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.logo-placeholder img {
    max-width: 270px; 
    height: 64px;
    margin-bottom: 20px;
}

.console-title {
    font-size: 16px;
    font-weight: 500;
    color: #232323;
    margin: 0 0 5px 0;
}

.sign-in-title {
    font-size: 40px;
    font-weight: 600;
    list-style: 100%;
    color: #232323;
    margin: 0 0 30px 0;
}

.login-form {
    text-align: left;
    margin: 0 auto;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #232323;
    margin-bottom: 16px;
}

.input-group {
    display: flex;
    width: 533px;
    height: 50px;
    align-items: center;
    border: 1px solid #7474774D;
    border-radius: 5px;
    box-shadow: 0 0 0 4px #74747733;
    margin-bottom: 20px;
    background-color: #fff;
    padding-right: 10px;
}

.input-group input {
    flex-grow: 1;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    background: transparent;
}

.input-group:focus-within {
    box-shadow: 0 0 0 4px #D84510;
; 
}

.input-icon {
    width: 20px;   
    height: 20px;
    cursor: pointer;
    padding-left: 5px; 
    color: initial;
}

.password-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 16px;
}

.password-header label {
    margin-bottom: 0; 
}

.forgot-password {
    font-size: 14px;
    color: #D84510;
    text-decoration: none;
    font-weight: 400;
}

.submit-button {
    width: 101%;
    height: 50px;
    padding: 12px;
    background: linear-gradient(94.74deg, #E25242 -5.3%, #F43722 102.75%);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
}

.submit-button:hover {
    background: #FF8C00;
}

.join-us-text {
    font-size: 14px;
    color: #494949;
    margin-top: 30px;
}

.join-us-link {
    color: #D84510;
    text-decoration: none;
    font-weight: 600;
}